<header>
  <h1>Pokemons</h1>
</header>
<main role="main">
  <% if current_trainer.present? %>
    <p>Welcome back, <%= current_trainer.name %></p>
    <p>Add a new pokemon <a href="/pokemons/new">here!</a></p>
  <% end %>
  <%= erb(:"shared/pokemon_table", locals: {pokemons: @pokemons, show_weakness_column: true})%>
</main>
