<header>
  <h1>Fav Pokemon Form</h1>
</header>
<main role="main">
  <form method="POST" action="/fav_pokemon">
    <label for="fav-pokemon">Name</label>
    <input type="text" id="fav-pokemon" name="fav_pokemon">
    <button type="submit">Set fav pokemon</button>
  </form>
</main>
