<header>
  <h1>New Trainer Form</h1>
</header>
<main role="main">
  <form method="POST" action="/trainers">
    <label for="trainer-name">Name</label>
    <input type="text" id="trainer-name" name="trainer_name">
    <label>Avatar URL</label>
    <input type="text" name="image_url">
    <button type="submit">Submit trainer data</button>
  </form>
</main>
